.img-height {
  height: 100%;
}
 

.btn-custom12 {
  background-color: #034460; /* Custom background color */
  color: #fff; /* Custom text color */
}

.btn-custom12:hover {
  background-color: #022c3e; /* Custom hover background color */
  color: #fff; /* Custom hover text color */
}
